@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.205 0 0);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);
  --drop-shadow-custom: 0 0 0.25em var(--color-primary);
}

@layer theme {
  [data-theme="dark"] {
    --color-background: oklch(0.145 0 0);
    --color-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.922 0 0);
    --color-primary-foreground: oklch(0.205 0 0);
    --color-secondary: oklch(0.269 0 0);
    --color-secondary-foreground: oklch(0.985 0 0);
    --color-muted: oklch(0.269 0 0);
    --color-muted-foreground: oklch(0.708 0 0);
    --color-destructive: oklch(0.704 0.191 22.216);
    --color-border: oklch(1 0 0 / 10%);
  }
}

button,
a {
  @apply bg-background hover:text-foreground cursor-pointer transition-colors duration-250 ease-in-out focus-visible:text-foreground;
}

h1,
h2,
h3 {
  @apply text-foreground font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-lg;
}

.focus-bg {
  @apply hover:bg-secondary focus-visible:bg-secondary;
}

.container-bg {
  @apply border-2 border-border rounded-lg bg-secondary/25;
}

.marquee {
  --marquee-duration: 30s;

  width: calc(1em + var(--marquee-width, 100%));
  animation: infinite-scroll var(--marquee-duration) linear infinite;
}

div:has(> .marquee) {
  mask: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent 100%
  );
}

@media (width >= 48em) {
  .project {
    --project-img: 21.75em;
    grid-template-columns: var(--project-img) calc(100% - var(--project-img));

    @apply grid grid-flow-col;

    & > img {
      grid-area: 1/1/3/2;
      max-width: var(--project-img);

      @apply rounded-tr-none rounded-bl-lg;
    }
  }

  .project-links {
    grid-area: 2/2/2/3;
  }
}

@keyframes infinite-scroll {
  to {
    transform: translateX(-100%);
  }
}
