---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import About from "@components/About.astro";
---

<Layout>
  <Header />
  <main class="mx-4 py-4">
    <About />
  </main>
</Layout>
