---
import SocialLinks from "@components/SocialLinks.astro";

const content = `My journey began with Python and a curiosity about how code works. 
After mastering the full-stack landscape through The Odin Project, I shifted my focus toward the core of applications, 
refining my craft in Go and TypeScript. Today, I’m a full-stack developer specializing in building web apps and CLI tools.`;
---

<section class="container-bg p-6 md:p-8 md:flex gap-6">
  <img
    src="https://avatars.githubusercontent.com/u/175179417?v=4"
    alt=""
    class="size-32 rounded-[50%] border-2 border-primary mx-auto drop-shadow-custom md:mt-10 md:mx-3"
    fetchpriority="low"
  />
  <div
    class="max-md:text-center md:grid md:max-w-[calc(100%+1.5em-8em-(2em*2))]"
  >
    <!-- maw width = 100% + gap - img width - (section inline padding) -->
    <h1 class="max-md:mt-4 mb-3">Emal Hasitha</h1>
    <p class="px-2.5 text-primary md:px-0.5 mb-5">{content}</p>
    <SocialLinks includeNames />
  </div>
</section>
