---

---

<div class="text-sm relative max-w-fit">
  <button
    data-toggle-drop
    class="flex gap-2 w-[calc(6ch+3em+1em)] px-3 py-2 border-2 border-border rounded-lg focus-bg"
  >
    <svg
      fill="none"
      stroke="currentcolor"
      viewBox="0 0 24 24"
      class="size-6 pointer-events-none"
      aria-hidden="true"
      ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9.75 17 9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2"
      ></path></svg
    >
    <span class="pointer-events-none">System</span>
  </button>

  <ul
    class="hidden z-1 bg-background w-[calc(6ch+3em+1em)] border-2 border-border rounded-lg absolute bottom-0 right-0 translate-y-[calc(100%+0.4em)]"
    data-toggle-menu
  >
    <li>
      <button data-toggle="dark" class="flex gap-2 px-3 py-2 w-full focus-bg">
        <svg
          fill="none"
          stroke="currentcolor"
          viewBox="0 0 24 24"
          class="size-6 pointer-events-none"
          aria-hidden="true"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 0 1 8.646 3.646 9.003 9.003 0 0 0 12 21a9 9 0 0 0 8.354-5.646"
          ></path></svg
        >
        <span class="pointer-events-none">Dark</span>
      </button>
    </li>

    <li>
      <button data-toggle="light" class="flex gap-2 px-3 py-2 w-full focus-bg">
        <svg
          fill="none"
          stroke="currentcolor"
          viewBox="0 0 24 24"
          class="size-6 pointer-events-none"
          aria-hidden="true"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364-.707-.707M6.343 6.343l-.707-.707m12.728 0-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0"
          ></path></svg
        >
        <span class="pointer-events-none">Light</span>
      </button>
    </li>

    <li>
      <button data-toggle="system" class="flex gap-2 px-3 py-2 w-full focus-bg">
        <svg
          fill="none"
          stroke="currentcolor"
          viewBox="0 0 24 24"
          class="size-6 pointer-events-none"
          aria-hidden="true"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9.75 17 9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2"
          ></path></svg
        >
        <span class="pointer-events-none">System</span>
      </button>
    </li>
  </ul>
</div>

<script>
  const STORAGE_KEY = "user_theme";
  const html = document.querySelector("html")!;
  const menu = document.querySelector<HTMLOListElement>("[data-toggle-menu]");
  const btn = document.querySelector<HTMLButtonElement>("[data-toggle-drop]");
  const paths = document.querySelectorAll("[data-toggle] > svg > path");

  document.addEventListener("click", handleOutsideClick, true);
  btn?.addEventListener("click", () => menu?.classList.toggle("hidden"));
  menu?.addEventListener("click", (e) => {
    if (!(e.target instanceof HTMLButtonElement)) return;
    changeTheme(e.target.textContent.trim().toLowerCase());
    menu?.classList.toggle("hidden");
  });

  const themes: Record<string, string> = {};
  paths.forEach((e) => {
    const theme = e.parentElement?.parentElement?.dataset.toggle || "";
    themes[theme] = e.getAttribute("d") || "";
  });

  function changeTheme(theme?: string) {
    const t = window.localStorage.getItem(STORAGE_KEY);
    const perferedDark = window.matchMedia("(prefers-color-scheme: dark)");
    if (t && t === theme) return;
    if (t && !theme) theme = t;

    switch (theme) {
      case "dark":
      case "light":
        html.dataset.theme = theme;
        window.localStorage.setItem(STORAGE_KEY, theme);
        break;
      default:
        window.localStorage.setItem(STORAGE_KEY, "system");
        html.dataset.theme = perferedDark ? "dark" : "light";
    }

    const tmp = window.localStorage.getItem(STORAGE_KEY) || "system";
    btn?.querySelector("svg > path")?.setAttribute("d", themes[tmp]!);
    btn!.querySelector("span")!.textContent =
      tmp[0]?.toUpperCase() + tmp.slice(1);
  }

  function handleOutsideClick(e: PointerEvent) {
    if (!(e.target instanceof HTMLElement)) return;
    if (!menu?.parentElement?.contains(e.target)) {
      menu?.classList.add("hidden");
    }
  }

  changeTheme();
</script>
